.historicoFilho{
  border:1px solid black;
  border-radius:10px;
  margin:5px;
  margin-left:8px;

  width:180px;
  height:355px;
  background-color:#f4ead9;
  
  overflow-y: auto;

 }

.historico{

  background-color:#e7e1e3;
  border-left:2px solid black;
  border-bottom:2px solid black;
  border-top:2px solid black;
  border-radius:10px 0 0 10px;

  margin-top:30px;
  width:200px;
  height:372px;
  transition: opacity 0.35s ease, transform 1s ease;

  overflow-y: auto;
  overflow-x: hidden;
}
.aberto{
  transform:translateX(10px);
  transition:opacity 0.35s ease, transform 1s ease;

}
.fechado{
  transform:translateX(250px);
  transition:opacity 0.35s ease, transform 1s ease;
  opacity:0;
}
.botaoSlideAberto{
  transform:translateX(20px);
  transition: transform 1s ease;
  background-color:#fca767;
  border:0px;
}

.botaoSlideFechado{
  transform:translateX(223px);
  transition:transform 1s ease;
  width:40px;
  background-color:#bdf59b;
  border:0px;
}

.titulo{
  display:flex;
  justify-content:center;
  border-bottom:2px solid  black;

 }
.numerosHistorico{
  display:flex;
  justify-content:center;
  border-bottom: 2px solid black;

}


@media (max-width: 844px){

  .historico{

  border:2px solid black;
  border-radius: 0 0 10px 10px;
  display:flex;
  position:absolute;
  justify-content:center;
  margin-left:30px;
  top:-16px;
  width:225px;
  height:151px;
}


 .aberto{
  transform:translateY(400px);
  transition:opacity 0.35s ease, transform 1s ease;

}
.fechado{
  transform:translateY(250px);
  transition:opacity 0.35s ease, transform 1s ease;
  opacity:0;
  margin-left:50px;
}
.botaoSlideAberto{
  display:flex;
  position:relative;
  top:367px;
  left:135px;

  transform: rotate(270deg);
  background-color:#fca767;
  border:0px;

  animation:descer 1s ease forwards;
}
.botaoSlideFechado{
  display:flex;
  position:relative;
  top:222px;
  left:145px;

  transform: rotate(270deg);
  width:40px;
  background-color:#bdf59b;
  border:0px;
  animation: subir 0.5s ease forwards;
}
@keyframes descer{
  from {
     transform:translateY(-160px) rotate(270deg);

  }
  to{

      transform:translateY(0px) rotate(270deg);

  }
}
@keyframes subir{
  from {
    transform:translateY(160px) rotate(270deg);

  }
  to{
    transform:translateY(0px) rotate(270deg);

  }
}



}
