.historicoFilho{
  border:2px solid black;
  margin:5px;
  margin-left:8px;

  width:180px;
  height:360px;
  background-color:#f4ead9;
  
  overflow-y: auto;

 }

.historico{

  background-color:#e7e1e3;
  border-left:1px solid black;
  border-bottom:1px solid black;
  border-top:1px solid black;
  border-radius:10px;

  margin-top:30px;
  width:200px;
  height:375px;
  transition: opacity 0.35s ease, transform 1s ease;

  overflow-y: auto;
  overflow-x: hidden;
}
.aberto{
  transform:translateX(1px);
  transition:opacity 0.35s ease, transform 1s ease;

}
.fechado{
  transform:translateX(250px);
  transition:opacity 0.35s ease, transform 1s ease;
  opacity:0;
}
.botaoSlideAberto{
  transform:translateX(10px);
  transition: transform 1s ease;
}

.botaoSlideFechado{
  transform:translateX(220px);
  transition:transform 1s ease;
}

.titulo{
  display:flex;
  justify-content:center;
  border-bottom:2px solid  black;

 }
.numerosHistorico{
  display:flex;
  justify-content:center;
  border-bottom: 2px solid black;

}
