
.tela{
  width:230px;
  height:63px;
  display:flex;
  justify-content:center;
   text-shadow:
    0 0 5px #ff9800,
    0 0 10px #ff9800,
    0 0 20px #ff9800,
    0 0 40px #ff9800;
    color:white;

}
.visor{
  display:flex;
  justify-content:flex-start;
  font-size:30px;
  border:2px solid black;
  width:225px;
  height:50px;
  text-align:center;
  background-color:#e2dbdc;
  

}
.primeiroNumero{
  margin-left:10px;
  align-self:center;

}

.operador{
  align-self:center;

}

.segundoNumero{
  align-self:center;

}
.resultado{
  align-self:center;
}
.limpar{
  display:flex;
  position:relative;
  left:220px;
  bottom:16px;
}
