
.container{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;

}
.calculadora{

  display:absolute;
  flex-direction:column;
 
}

@media (max-width:844px){

  .container{
    display:flex;
    justify-content:center;
    margin-right:50px;
  }

}
:root {
  --bg: #ffffff;
}

html.temaEscuro {
  --bg: #181818;
}

html,
body,
#root {
  margin: 0px;
  min-height: 100vh;
}

body,.botaoTema{
  border:0px;
  background: var(--bg);
  transition: background-color .3s ease, color .3s ease;
}

.botaoTema{
  width:50px;
  height:50px;
  background-color:#e2dbdc;
  border-radius:50%;
  border:2px solid black;
   text-shadow:
  0 0 5px  white,
  0 0 10px white,
  0 0 20px white,
  0 0 40px white;
  color:black;

    &:hover{
      cursor:pointer;
      box-shadow:
      0 0 5px #ff9800,
      0 0 10px #ff9800;
    }

}
.botaoTema:active{
  transform:translateY(4px);
  box-shadow: 0 0 0 #444;
}

.containerBotaoTema{
  display:flex;
  position:absolute;
  align-items:center;
  justify-content:center;
  width:50px;
  height:50px;
  padding:30px 0 0 10px;
  border-radius:50%;
 
}
