
.container{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;

}
.calculadora{

  display:absolute;
  flex-direction:column;
 
}

@media (max-width:844px){

  .container{
    display:flex;
    justify-content:center;
    margin-right:50px;
  }

}

